@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraBold.eot');
    src: local('☺'), url('../fonts/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe-ExtraBold.ttf') format('truetype'), url('../fonts/Circe-ExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Bold.eot');
    src: local('☺'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe.eot');
    src: local('☺'), url('../fonts/Circe.woff') format('woff'), url('../fonts/Circe.ttf') format('truetype'), url('../fonts/Circe.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Light.eot');
    src: local('☺'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype'), url('../fonts/Circe-Light.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraLight.eot');
    src: local('☺'), url('../fonts/Circe-ExtraLight.woff') format('woff'), url('../fonts/Circe-ExtraLight.ttf') format('truetype'), url('../fonts/Circe-ExtraLight.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body .container {
    background-image: url("../img/bg1.png");

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Circe";
    color: #ffffff;
}

.container .header .logo{
    padding: 5px 10px 0 35px;
    float: left;

}

.container .header .course {
    color: #ffffff;
    padding: 20px 10px 0 20px;
    float: left;

}

.container .header .deference {
    color: #ff0000;
    padding: 3px 7px;
    background-color: #ffffff;
    border: hidden;
    border-radius: 15px;
    font-size: 0.6em;
    font-weight: bold;
    margin: 20px 5px;
    float: left;
}

nav ul li {
    display: inline;
    margin: 5px;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
}

.nav {
    float: right;
    margin: 10px 35px;
}

ul li a{
    text-decoration: none;
    padding: 3px 10px;
    color: #ffffff;
}

ul li a:hover{
    border: 2px solid #ffffff;
    border-radius: 35px;
    margin:-1.6px;
}

.first_section {
    clear: both;
    text-align: center;
    padding: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 30vh;
    font-size: 3rem;

}
.first_section p {
    line-height: normal;
    font-size: 1.5rem;
}

.first_section h1, .start_btn{
    text-transform: uppercase;
}

.first_section .start_btn a{
    display: inline;
    border: 0 solid;
    padding: 15px 75px;
    background-color: #a3cd8c;
    border-radius: 55px;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

.start_btn a:hover{
    opacity: 0.8;
}

.start_btn a:active{
    position: relative;
    bottom: 2px;
}

.footer {
    background-image: url("../img/bg2.png");

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}