.slide-container {
    position: relative;
    width: 540px;
    height: 540px;
    overflow: hidden;
}

.image-carousel {
    display: flex;
    position: absolute;
    left: 0;
}

.prev:after,
.next:after {
    content: '<';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateY(-50%);
    cursor: pointer;
    transition: background .3s linear;

}

.prev:hover:after,
.next:hover:after {
    background-color: rgb(255, 255, 255);

}

.next:after {
    content: '>';
    left: auto;
    right: 5px;
}

.bubbles {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.bubble-point {
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgba(151, 151, 151, 0.5);
    border-radius: 50%;
    margin: 5px;
}

.bubble-point:hover {
    background-color: rgba(151, 151, 151, 1);
}
.bubble-point.active {
    background-color: rgb(255, 255, 255);
}
