* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #96aadc;
}

.container {
    width: 940px;
    margin: 0 auto;
}
.navigation_line {
    position: absolute;
    width: 100%;
    display: block;
    background-color: #f3f3f3;
}

body header .navigation_line{
    top: 0;
}

header .header_home .logo{
    margin: 2% 5%;
    float: left;
}

.header_navigation {
    float: right;
    margin: 2% 5% 0 0;
    text-align: right;
}

.header_navigation ul li {
    display: inline;
    margin: 5px;
    font-weight: bold;
}

.header_navigation ul li a{
    border: 2px solid transparent;
    border-radius: 45px;
    padding: 3px 10px;
}

.header_navigation ul li a:hover{
    border-color: #96aadc;
    opacity: 0.7;
}

main .banner {
    margin: 50px 0;
}

.banner_image_container {
    width: 100%;
    height: 50vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .banner .banner_image_container {
    background-image: url("../img/bg_header.JPG");
}

main .banner .content_navigation {
    display: inline-block;
    float: left;
    width: 70%;

}

.content_navigation ul li {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin: 2% 0;

}

.content_navigation ul li a {
    padding: 13px 30px;

}

.content_navigation ul li a:hover {
    background-color: grey;

}

.footer .banner_image_container {
    background-image: url("../img/bg_footer.JPG");
}

.footer_deep-links {
    text-align: center;
    line-height: 3rem;

}
.footer_deep-links .footer_nav {
    width: 50%;
    margin-top: 5%;

}
.footer_deep-links li {
    list-style-type: none;
}

.footer_deep-links a {
    color: #000000;
    font-style: oblique;
}

.footer_deep-links a:hover {
    opacity: 0.7;
    position: relative;
    bottom: 2px;
}

.footer_deep-links .footer_nav:first-of-type {
    float: left;
}

.footer_deep-links .footer_nav:last-of-type {
    float: right;
}

.footer .navigation_line .footer_copyright{
    float: left;
    width: 45%;
    margin: 10px;
}

.footer .navigation_line .footer_secondary_navigation{
    float: right;
    width: 50%;
    margin: 10px;

}

.footer_secondary_navigation a {
    color: #000000;
    padding: 10px;

}

.footer_secondary_navigation a:hover {
   opacity: 0.7;

}

.footer_secondary_navigation a:active{
    position: relative;
    bottom: 2px;
}