body {
width: 80%;
margin: auto;
}

div {
    font: 15px Arial, serif;
}

body div.container {
    page-break-before:always;
}

fieldset {
border-left: hidden;
border-right: hidden;
padding: 0;
}

fieldset legend {
font-weight: bold;
}

fieldset p {
font-size: 85%;
}


.courier {
font: 15px Courier, serif;
}

.left {
float: left;
}

.right {
float: right;
}

ul {
list-style: square;
}

ul li.none{
list-style: none;
}

